<div id="{{this.id}}" class="w3-modal w3-mobile nutrition-modal {{this.item}} w3-animate-zoom" >
    <div class="w3-modal-content w3-card-4 modal">
        <header class="w3-container">
            <button onclick="document.getElementById('{{this.id}}').style.display='none'" class="w3-button modalBtn w3-display-topright">&times;</button>
        </header>
        {{!-- w3-hover-opacity --}}
        <div class="w3-display-container" id="modalData">
            <div class='w3-container w3-center'> 
                <table class='w3-table w3 hide'>  
                    <thead>
                        <tr> 
                            <th class='nutritionCol w3-hide {{this.item}}'> {{this.item}} Nutrition</th> 
                        </tr>
                    </thead> 
                    <tbody>
                        <tr class='nutrition w3-hide {{this.item}}'> 
                            <td>Serving Size (GmWt): {{this.food.servingSize}}</td>
                            <td>Calories (Energ_Kcal): {{this.food.calories}}</td>
                        </tr>
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td>Gram Weight: {{this.food.gramWeight}}</td>
                            <td>Protein (g): {{this.food.protein}}</td>
                        </tr>
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td>Fat (g): {{this.food.totalFat}}</td>
                            <td>sugar (g): {{this.food.sugar}}</td>
                        </tr> 
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td>Vitamin C (mg): {{this.food.vitaminC}}</td>
                            <td>Sodium (mg): {{this.food.sodium}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
