<div id="modal-{{this.id}}" class="w3-modal w3-mobile nutrition-modal {{this.item}}-{{this.id}} w3-animate-zoom" >
    <div class="w3-modal-content w3-card-4 modal">
        <header class="w3-container">
            <button onclick="document.getElementById('modal-{{this.id}}').style.display='none'" class="w3-button modalBtn w3-display-topright">&times;</button>
        </header>
        {{!-- w3-hover-opacity --}}
        <div class="w3-display-container" id="modalData">
            <div class='w3-container w3-center'> 
                <table class='w3-table-all w3-hoverable w3-centered'>  
                    <thead>
                        <tr class="w3-gray"> 
                            <th class='nutritionCol w3-hide {{this.item}}-{{this.id}}' colspan="2"> {{this.item}} Nutrition</th> 
                        </tr>
                    </thead> 
                    <tbody class="w3-centered">
                        {{#each food.dataValues}}
                        {{#unless @first}}
                        {{#unless @last}}
                        <tr class='nutrition {{this.item}}-{{this.id}} w3-center w3-col m6 l6 s6'> 
                            {{!-- {{#each food.dataValues}} --}}
                            <td class="w3-center " colspan="1">{{@key}}: {{this}}</td>
                            {{!-- {{/each}} --}}
                        </tr>
                        {{/unless}}
                        {{/unless}}
                        {{/each}}
                        {{!-- <tr class='nutrition w3-hide {{this.item}} w3-center w3-col m6 l6 s6'> 
                            <td class="w3-center " colspan="1">Calories (Energ_Kcal): {{this.food.calories}}</td>
                        </td>
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td class="w3-center " colspan="1">Gram Weight: {{this.food.gramWeight}}</td>
                            <td class="w3-center " colspan="1">Protein (g): {{this.food.protein}}</td>
                        </tr>
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td class="w3-center ">Fat (g): {{this.food.totalFat}}</td>
                            <td class="w3-center ">sugar (g): {{this.food.sugar}}</td>
                        </tr> 
                        <tr class='nutrition w3-hide {{this.item}}'>
                            <td class="w3-center ">Vitamin C (mg): {{this.food.vitaminC}}</td>
                            <td class="w3-center ">Sodium (mg): {{this.food.sodium}}</td>
                        </tr> --}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
