<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
  <a href="/users/{{user.username}}" class="w3-bar-item w3-button">Back to the Login Page</a>
</div>

<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <button class="w3-button w3-bisque w3-large" onclick="sideBar_Open()">&#9776;</button>
    <div class="w3-container">
      <h2>Welcome Back {{username}}!</h2>
    </div>
  </div>

  <br>
  <br>

  <div class="w3-container">
    <div class="w3-row">
      <div class="w3=responsive">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-blue">
              <th>User</th>
              <th>Track</th>
              <th>Week</th>
              <th>Progress</th>
              <th>Completed</th>
            </tr>
            </thead>
            <tbody></tbody>
            {{#each dashboard}}
            <tr>
              <td>{{this.User.username}}</td> <!-- {/{userObj.userID}/} -->
              <td>{{this.dataValues.category}}</td> <!-- {/{userObj.currTrack}/} -->
              <td>{{this.dataValues.week}}</td> <!-- {/{userObj.currWeek}/} -->
              <td onload="progress_Bar()">
                <div class="w3-light-grey">
                  <div id="curr_prog" class="w3-container w3-blue curr_prog" style="height:20px; width:0px">
                    <!-- {/{foodObj.count}/} -->
                        <span class="count">{{this.logs.length}}</span>/<span class="goal">{{this.dataValues.goal}}</span>
                  </div>
                </div>
              </td>
              <td onload="check_Star()"></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
