{{!-- this user track object; action will send to this.user.category --}}

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  {{#if user}}
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
    <a href="/users/{{user.username}}" class="w3-bar-item w3-button">Back to My Dashboard</a>
    <a href="/trackPage/{{user.username}}" class="w3-bar-item w3-button">Back to Choose a Track</a>
    <a href="/dashboard" class="w3-bar-item w3-button">See the Community Dashboard</a>
    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
  {{/if}}
</div>


<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="dashboard_hamburger" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()">&#9776<img id="logo" src="/images/yyLogo" alt=""></button>
    </div>

    <div class="w3-container">
      <div class="user">
          {{#if user}}
              <h1 id="userTitle">Hey {{user.username}}!</h1>
          {{/if}}
      </div>
    </div> <!-- end container for greeting -->
  </div> <!-- end jumbotron with user name and greeting -->
  <h2 class="w3-center">What was on the menu today?</h1>

  <br>
  <br>

  <div class="w3-row">
    <div id="foodInput" class="w3-container w3-center w3-col s12 w3-mobile">
      {{!-- replaced /search with track --}}
      <div class="w3-panel w3-card-4">
        <form action="/submitLog/{{user.id}}" method="post" class="w3-container">
            {{!-- for an actual user, will only display the tracks/goals they've signed up for; populate with goals table category --}}
            <label for="moment" id="momentLabel"></label>
            <input type="hidden" name="week" id="moment" required>
            <input type="hidden" value={{user.username}} id="username">
            <input type="hidden" name="UserId" value={{user.id}} id="user_Id" required>
            <h4 class="w3-center">Select your track:</h4>
            <select name="category" id="trackName">
                <option value="" disabled selected>Choose your track</option>
            </select>
            <button id="subCat" type="submit">Submit Category</button>
        </form>
      </div>
    </div>

  </div>  <!-- end first row - displays track selection -->

  {{#if category}}
    <div id="bloodhound" class="w3-row">
      <div class="w3-panel w3-card-4 w3-col s6 w3-mobile">
        {{#if user}}
        <form action="/submitLog/{{user.username}}" class="w3-container" method="post">
          <input type="hidden" value={{user.id}} id="user_Id" required>
          {{#if foods}}
          <h4>Enter log</h4>
          <input list="foods" name="q" autocomplete="off" placeholder="Enter your item">
          <datalist id="foods">
            {{#each foods}}
              <option value="{{this.item}}">{{this.item}}</option>
            {{/each}} <!-- end each food hdlbrs -->
          </datalist>
          {{!-- https://github.com/mfranzke/datalist-polyfill datalist isn't safari compatible..possible workaround --}}
            <button type="submit">search</button>
          {{/if}} <!-- end if foods hdlbrs -->
        </form>
        {{/if}} <!-- end if user hdlbrs -->
      {{/if}} <!-- end if choice hdlbrs - this prevents div from displaying until a choice is made -->
    </div> <!-- display food suggestions based on the selection from the tracks query -- >

    <div id="display_Input" class=" w3-col s6 w3-mobile w3-panel w3-card-4">
      <form action="/addItem/{{user.username}}" method="post">
          <label for="moment" id="momentLabel"></label>
          <input type="hidden" name="week" class="moment" required>

          {{#if choice}}
              {{#each choice}}
                  <h4>You selected {{this.item}} (Serving size - {{this.servingSize}}). Add to your log?</h4>
                  <input type="hidden" name="item" value="{{this.item}}">
                  <input type="hidden" name="category" value="{{this.category}}">
                  <input type="hidden" name="count" value="1">
                  <input type="hidden" name="foodId" value="{{this.id}}">
              {{/each}}
              {{/if}}
                  <input type="hidden" name="goalId" value="{{id}}" id="goal_Id">
                  <input type="hidden" name="userId" value="{{userObject.id}}">
          {{#if choice}}
          <button>Add this item</button>
      </form>
          {{/if}}

      {{#if item}}
          <h4>{{item}} is logged!</h4>
      {{/if}}

    </div> <!-- end card to hold display -->
  </div> <!-- end row -->

  {{> footer }}

</div> <!-- end zclass sidbar -->
