<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
  {{#if username}}
    <a href="/trackPage/{{username}}" class="w3-bar-item w3-button">Choose a Track</a>
    <a href="/addLog/{{username}}" class="w3-bar-item w3-button">Input Today's Data</a>
    <a href="/dashboard" class="w3-bar-item w3-button">See the Community Dashboard</a>
  {{/if}}
</div>

<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="dashboard_hamburger" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()"><img id="logo" src="../assets/images/yyLogo.png" alt=""></button>
    </div>

    <div class="w3-container">
      {{#if username}}
      <h1>Welcome Back {{username}}!</h1>
      {{/if}}
    </div>
  </div>

  <br>
  <br>

  <div class="w3-container">
    <div class="w3-row">
      <a href="/logout"><button type="submit" class="w3-button w3-red loginBtn">Logout</button></a>
    </div>
    <div class="w3-row">
      <div class="w3=responsive">
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-gray">
              <th>Food Track</th>
              <th>Servings Goal</th>
              <th>Week</th>
              <th>Progress</th>
              <th>Completed</th>
            </tr>
            <tr>
              {{#each dashboard}}
                <td>{{this.category}}</td> <!-- {/{userObj.userID}/} -->
                <td>{{this.goal}}</td> <!-- {/{userObj.currTrack}/} -->
                <td>Current week of the year</td> <!-- {/{userObj.currWeek}/} -->
                <td onload="progress_Bar()">
                  <div class="w3-light-grey">
                    <div id="curr_prog" class="w3-container w3-blue" style="height:20px; width:0px">
                      <!-- {/{foodObj.count}/} -->
                    </div>
                  </div>
                </td>
                <td onload="check_Star()"><div id="star_complete"></div></td>
              {{/each}}
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>


{{> footer}}
