<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
  {{#if user}}
    <a href="/trackPage/{{user.username}}" class="w3-bar-item w3-button">Choose a Track</a>
    <a href="/addLog/{{user.username}}" class="w3-bar-item w3-button">Input Today's Data</a>
    <a href="/dashboard" class="w3-bar-item w3-button">See the Community Dashboard</a>
    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
  {{/if}}
</div>

<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="dashboard_hamburger" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()">&#9776<a href="/users/{{user.username}}"><img id="logo" src="/images/yyLogo" alt=""></a></button>
    </div>

    <div class="w3-container">
      {{#if user}}
        <h1>Welcome Back <span id="username">{{user.username}}</span>!</h1>
      {{/if}}
    </div>
  </div>
  <h2 id="momentLabel" class="w3-center"></h2>

  <div class="w3-container main-content">
    <div class="w3-row">
      <form action="/users/{{user.username}}/" method="get" id="userDashForm">
      {{!-- hidden input user name --}}
        <label for="currentWeek"></label>
        {{!-- get the weekArr numbers for all logged items, display here --}}
        <select name="" id="getWeek">
          <option value="" disabled selected id="optMsg">Filter By Week</option>
        </select>
        <span><button type="submit">Go</button></span>
      </form>
    </div>
    <div class="w3-row">
      <h2 id="weekHeader">Week {{week}}</h2>
      <div class="w3-container">
        {{> input}}
      </div>
    </div>
  </div>



</div> <!-- end zclass for sidebar - all elements wrapped in this div to be responsive when sidebar is open -->
  {{> footer}}