{{!-- this user track object; action will send to this.user.category --}}

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  {{#if user}}
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
    <a href="/users/{{user.username}}" class="w3-bar-item w3-button">Back to My Dashboard</a>
    <a href="/trackPage/{{user.username}}" class="w3-bar-item w3-button">Back to Choose a Track</a>
    <a href="/dashboard" class="w3-bar-item w3-button">See the Community Dashboard</a>
    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
  {{/if}}
</div>


<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="dashboard_hamburger" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()"><img id="logo" src="../assets/images/yyLogo.png" alt=""></button>
    </div>

    <div class="w3-container">
      <div class="user">
          {{#if user}}
              <h1 id="userTitle">Hey {{user.username}}! What was on the menu today?</h1>
          {{/if}}
      </div>
    </div> <!-- end container for greeting -->
  </div> <!-- end jumbotron with user name and greeting -->

  <br>
  <br>

  <div class="w3-row">
    <div class="w3-container w3-col s6 w3-mobile">
      {{!-- replaced /search with track --}}
      <div class="w3-panel w3-card-4">
        <form action="/submitLog/{{user.username}}" method="post" class="w3-container">
            {{!-- for an actual user, will only display the tracks/goals they've signed up for; populate with goals table category --}}
            <label for="moment" id="momentLabel"></label>
            <input type="hidden" name="week" id="moment" required>
            <input type="hidden" value={{user.username}} id="username">
            <input type="hidden" name="UserId" value={{user.id}} id="user_Id" required>
            <h4>Select your track:</h4>
            <select name="category" id="trackName">
                <option value="" disabled selected>Choose your track</option>
            </select>
            <button type="submit">submit category</button>
        </form>
      </div>
    </div>

    <div class="w3-container w3-col s6 w3-mobile">
      <div class="w3-panel w3-card-4">
        <div class="w3-row">
          <div class="w3-container">
            <div class="w3-col s6">
              <a href="/logout"><button type="submit" class="w3-button w3-red loginBtn">Logout</button></a>
            </div>
            <div class="w3-col s6">
              <a href="/users/{{user.username}}"><button class="w3-button w3-green">Back to main page</button></a>
            </div>
          </div>
        </div>
      </div>


        <div class="w3-row" id="bloodhound">
            {{#if user}}
            <form action="/submitLog/{{user.username}}" class="w3-container" method="post">
                <input type="hidden" value={{user.id}} id="user_Id" required>
                {{#if foods}}
                <h4>Enter log</h4>
                <input list="foods" name="q" autocomplete="off" placeholder="Enter your item">
                <datalist id="foods">
                    {{#each foods}}
                        <option value="{{this.item}}">{{this.item}}</option>
                    {{/each}}
                </datalist>
                {{!-- https://github.com/mfranzke/datalist-polyfill datalist isn't safari compatible..possible workaround --}}
                <button type="submit">search</button>
                {{/if}}
            </form>
            {{/if}}
            {{!-- display food suggestions based on the selection from the tracks query --}}
        </div>
    </div>
  </div> <!-- end row -->

  <div class="w3-row w3-center">
    <div id="display_Input" class="w3-col s6 w3-mobile w3-panel w3-card-4">
      <form action="/addItem/{{user.username}}" method="post">
          <label for="moment" id="momentLabel"></label>
          <input type="hidden" name="week" class="moment" required>

          {{#if choice}}
              {{#each choice}}
                  <h4>You selected {{this.item}}. Add to your log?</h4>
                  <input type="hidden" name="item" value="{{this.item}}">
                  <input type="hidden" name="category" value="{{this.category}}">
                  <input type="hidden" name="count" value="1">
              {{/each}}
              {{/if}}
                  <input type="hidden" name="goalId" value="{{id}}">
                  <input type="hidden" name="userId" value="{{userObject.id}}">
          {{#if choice}}
          <button>Add this item</button>
      </form>
          {{/if}}
      {{#if item}}
          <h4>{{item}} is logged!</h4>
      {{/if}}

    </div> <!-- end card to hold display -->
  </div> <!-- end row used to display successfully logged input-->

  {{> footer }}

</div> <!-- end zclass sidbar -->
